table {
    border-collapse: collapse;
    background: #fff;
    width: 80%;
    position: absolute;
    right: 100px; 
    top: 650px;
    opacity: .8;
}

table, th, td {
    border: 3px solid black;
}


  .map{
    border: 3px solid #000;
    padding: 10px;
    margin: 10px;
    /* height: 500px; 
    width: 600px;  */
    /* position: absolute; */
  }

  .legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    width: 8%;
    top: 240px;
    /* left: 880px; */
    right: 50px; 
    font-size: 10px;
    position: absolute;
    opacity: .8;
  }
